#calculadora{
    background-color: rgb(250, 185, 185);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    color: white;
    font-weight: bold;
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.numerico{
    text-align: right;
}
/*#resultado{
    margin-top: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}*/

@media only screen and (max-width: 600px){
    #calculadora{
        width: 90%;
        margin: 0;
    }
}